.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  width: 80vw;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.texto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #47C9CC;
  padding: 1rem;
}

.imagen {
  width: 100%;
}

p, h5 {
  color: #fff;
}

h5 {
  font-size: 1.5rem;
  color: #03989e;
}

.color-menu {
  background-color: #03989e;
}

h1 {
  color: #508FEC;
}

p {
  color: #508FEC;
}

.py-100 {
  padding-top: 300px;
  padding-bottom: 100px;
}

.color-secundario {
  color: #ffffff;
}

.imagenFondoIndex {
  background-image: url(../Imagenes/Farmaceutico1-1200x801.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sectionImagen1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imagen1 {
  background-image: url(/Imagenes/Farmaceutico1-1200x801.jpg);
  position: relative;
}
.imagen1 .textoImagen1 {
  text-align: left;
  padding: 50px 5;
}

.seccion1 .nuevaImagen {
  height: 100%;
  width: auto;
  background-image: url(../Imagenes/imagensection2.png);
}
.seccion1 .nuevaImagen .textoParrafo {
  font-size: 23px;
  color: aliceblue;
}

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.footer {
  font-size: 15px;
  text-align: center;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #508FEC;
}

.contenedor {
  margin: 50px;
  margin-bottom: 150px;
}