.flex{
    display:flex;
    gap:0.5rem;
    width: 80vw;
    margin: auto;
    flex-wrap:wrap;
    
  }
  .texto {
    flex: 1;
    background-color: #47C9CC;
    padding:1rem;
    
  }
.imagen {
    width: 100%;
  }
  
  p, h5 {
    color:#fff;
  }
  
  
  h5 {
    font-size:1.5rem;
    color: #03989e;
  }